<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram" style="color: #0E0000;"></i></a>
    <a href="#"><i class="fab fa-facebook"style="color: #0E0000;"></i></a>
    <a href="#"><i class="fab fa-twitter"style="color: #0E0000;"></i></a>
  </div>
  <div class="footer-copyright">
     <p><i class="fa-solid fa-sun fa-beat" style="color: #e9c46a;"></i> Follow us. <i class="fa-solid fa-sun fa-beat" style="color: #e9c46a;"></i> </p>
  </div>
</div>
