.books-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;

  @media (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.book-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #a1a1a1;
  overflow: hidden;
  border-radius: 10px;
}

.book-cover {
  height: 200px;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: rgb(172, 172, 172);
  padding: 15px;

  img {
    max-height: 100%;
    width: auto;
  }
}

.book-details {
  flex: 1;
  padding: 10px;
}

.book-title {
  margin-bottom: 20px;
  margin-top: 20px;
}

.book-author,
.book-year {
  margin: 0;
  color: rgb(60, 60, 60);
}

.book-category {
  color: grey;
  text-transform: capitalize;
}

.book-footer {
  padding: 10px;
  text-align: center;
}








.bookmark-icon {
  font-size: 32px;
  cursor: pointer;
  color: #bababa;
  transition: color 0.3s ease;
}

.bookmark-icon:hover {
  color: #DAA520;
}



.category-bookmark-wrapper {
  display: flex;
  align-items: center; /* Vertically centers items in case they're of different heights */
  justify-content: space-between; /* Maximizes space between items. Adjust as needed. */
}

