.footer {
  text-align: center;
  padding: 60px;
  background-color:rgba(233, 196, 106, 0.3);
  margin-top: 40px;
}

.footer a {
  font-size: 40px;
  padding: 10px;
}

.footer p {
  color: #6B6C6C;
}

.fa-beat {
  padding-right: 10px;
  padding-left: 10px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.card img {
  width: 200px;
  height: 200px; /* Add height to make the container square */
  opacity: 70%;
  border-radius: 5px 5px 5px 5px;
  object-fit: cover;
}

.text_card {
  padding: 20px;
}

// .card h4 {
//   color: #f2b724;
// }
.card p {
  opacity: 0.5;
}

.card {
  width: 200px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 5px rgb(230,230,230);
  border: 1px solid rgb(230,230,230);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.cards {
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
