.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

 a {
  text-decoration: none;
  }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrer horizontalement les cartes */
  gap: 50px; /* Ajouter un espacement entre les cartes */
}

.card {
  flex: 1; /* Permet aux cartes de s'étirer pour remplir l'espace disponible */
  max-width: 300px; /* Limiter la largeur maximale des cartes */
  margin: 30px; /* Ajouter une marge autour des cartes */
  box-shadow: 0 0 5px rgb(230, 230, 230);
  border: 1px solid rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card img {
  width: 100%;
  max-height: 200px; /* Limiter la hauteur maximale de l'image */
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

.text_card {
  padding: 20px;
}

.card p {
  opacity: 0.7; /* Légèrement augmenter l'opacité du texte */
}

.card h4 {
  margin-top: 10px; /* Ajouter un espacement entre le texte et l'image */
  color: #000000;
}
/* Annuler les styles par défaut des liens générés par link_to */
// .card h4 p, .card a:hover {
//   text-decoration: none;
//   color: inherit;
// }


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
