.books-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;

  @media (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.book-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #a1a1a1;
  overflow: hidden;
  border-radius: 10px;
}

.book-cover {
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(172, 172, 172);
  padding: 15px;

  img {
    max-height: 100%;
    width: auto;
  }
}

.book-details {
  flex: 1;
  padding: 10px;
}

.book-title {
  margin-bottom: 20px;
  margin-top: 20px;
}

.book-author,
.book-year {
  margin: 0;
  color: grey;
}

.book-category {
  color: grey;
}

.book-footer {
  padding: 10px;
  text-align: center;
}
>>>>>>> master
